*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.carrousel{
    height: 100vh;
    width: 50vw;
    position: relative;
   
}
button{
    position: absolute;
    background: rgb(238, 113, 3);
    outline: none;
    font-size: 2.6rem;
    z-index: 3;
    cursor: pointer;
    color: white ;
    transform: translateY(-50%);
    top: 50%;
}
#left{
    background: rgb(3, 169, 240) ;
    border-radius: 35% 15% 15% 35% ;
    left: 2px;
    border: solid  rgb(3, 169, 240)  1px;
}
#right{
    background: rgb(238, 113, 3);
    border-radius: 15% 35% 35% 15% ;
    right: 2px;
    border: solid rgb(238, 113, 3) 1px;
}
.titleText{
    background: linear-gradient(rgb(238, 113, 3) , rgb(3, 169, 240));
    color: aliceblue;
    text-align: center;
    height: 100%;
}
.carrousel li{
    list-style: none;
}
.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}
/* on faire disparaitre les images avec l'opacitée 0 une fois qu'elles sont les unes sur les autres */
.slide img{
    height: 100%;
    width: 100%;
   
}
.slide.display{
    width: 100%;
    opacity: 1;
   
}
/* on fait apparaitre seulement l'image dotée de la classe display */
ul li{
    height: 100%;
    width: 100%;
    
}